.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education {
  font-family: Glory, sans-serif;
  text-align: center;
  //transform: scale(1.2);
}

.title {
  font-size: 3rem;
  //letter-spacing: 2px;
  //font-weight: bold;
  color: rgba(245, 245, 245, 0.75);
  //color: transparent;
  //background:linear-gradient(to right, #c4c4c4 ,#6a6a6a);
  //-webkit-background-clip: text;
}

.subtitle {
  margin-top: 8%;
  margin-bottom: 1%;
  font-size: 2rem;
  //font-weight: bold;
  //color: #6a6a6a;
  color: transparent;
  background:linear-gradient(to right, #c4c4c4 ,#6a6a6a);
  -webkit-background-clip: text;
  //color: transparent;
  //background:linear-gradient(to left, rgba(208, 41, 41, 0.67), rgba(208, 41, 41, 0.45));
  //-webkit-background-clip: text;
}

.location {
  margin: 1% 0;
  font-size: 1.3rem;
  font-weight: lighter;
  //color: rgba(208, 41, 41, 0.73);
  //color: rgba(150, 34, 34, 0.73);
}

.info {
  font-size: 1.2rem;
  font-weight: lighter;
  color: rgba(245, 245, 245, 0.7);
}

.location span {
  font-weight: normal;
  color: grey;
}

@media screen and (max-width: 592px) {

  .education {
    padding: 0 20px;
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .location {
    font-size: 1.1rem;
  }

  .info {
    font-size: 1rem;
  }
}
