<div class="container">
  <div class="education">
    <div class="title">EDUCATION</div>
    <div class="subtitle">BACHELOR - APPLIED COMPUTER SCIENCE</div>
    <div class="location">2019 - 2022 <span>@</span> Ghent University of Applied Sciences - HOGENT</div>
    <div class="info">Specialization - AI and Data Engineering</div>
    <div class="info">Winning team of project finale 2021 - Actemium</div>

    <div class="subtitle">BACHELOR - BIO-ENGINEERING</div>
    <div class="location">2016 - 2019 <span>@</span> Ghent University - UGENT</div>
    <div class="info">Unfinished bachelor's degree</div>

    <div class="subtitle">SCIENCE - MATH (8 HOURS)</div>
    <div class="location">2014 - 2016 <span>@</span> Sint-Lodewijkscollege Lokeren</div>
    <div class="location">2012 - 2014 <span>@</span> QSI Chengdu 成都 (American Int.)</div>
    <div class="location">2010 - 2012 <span>@</span> Sint-Lodewijkscollege Lokeren</div>
  </div>
</div>
