<div class="wrapper-landing-intro">
  <img src="assets/images/tempProfilePicCropRotateCrop.png"
       alt="picture Thomas Dirven"
       class="profile-picture">
  <div class="about-text-container">
    <div class="title">Welcome, great to see you here!</div>
    <div class="paragraph">I'm Thomas, a full-stack software developer and a student starting my third year of applied
      computer science at HoGent (Ghent University of Applied Sciences). I'm always looking for a challenge, eager to
      learn, passionate about big data and AI and that's why I have chosen to specialize in Artificial Intelligence &
      Data Engineering.
      <br>
      <br>
      I had a wonderful summer; I just finished my full-stack developer student job at Volvo Cars Ghent. There I had the
      opportunity to create an entirely new platform that allows the business to visualize the production lines of all
      the Volvo Cars factories around the globe (China, Sweden, US, Belgium). Furthermore, these visualizations had to be
      easily configurable by the business in a way that allows them to make changes to their visualizations without the
      need for the IT-department. All this was successfully done within the 9 week period I worked there.
      <br>
      <br>
      Before my summer began, I achieved great results in school as well. We worked in a team of 4 students on a
      support ticket system for Actemium. It was the biggest project during the second year of applied computer science
      and there was a project finale linked to this course. After a semester of hard work and countless online (COVID
      safe) pair programming sessions we were chosen as the best team by the judges (teachers + Actemium
      representatives) and we won the project finale.
      <br>
      <br>
      I believe good software development is all about collaboration and communication. When talented people work
      together as a team anything can be achieved. What I love most about the IT-sector is the fantastic community that
      is always willing to help each other and the sharing of ideas that let's innovation flourish.
    </div>
  </div>
  <div class="customButtons">
    <div style="max-width: 230px;">
      <app-button-outline
        buttonText="View my projects"
        [isFilledButton]="false">
      </app-button-outline>
    </div>
    <div>
      <app-button-outline
        buttonText="Contact"
        [isFilledButton]="true">
      </app-button-outline>
    </div>
  </div>
</div>

