<div class="wrapper">
  <!-- particles.js container -->
  <div id="particles-js"></div>

  <div class="wrapper-sub">
    <div class="name-on-top">
      <div class="name-title"
           [class.name-title-animation]="!((showAbout && isDesktopUser))"
           [class.name-title-static]="(showAbout && isDesktopUser)">
        Thomas Dirven
      </div>
      <div class="landing-subtitle">Full-stack Developer</div>
      <div class="landing-subtitle">Student AI & Data Engineering</div>
<!--      <div *ngIf="!showAbout"-->
<!--           class="scrollIndicatorArrow">-->
      <div [class.fadeAway] = showAbout
           class="scrollIndicatorArrow">
        <app-scroll-down-arrow></app-scroll-down-arrow>
      </div>
    </div>

    <div *ngIf="showAbout && isDesktopUser" [@dropDownAbout]
         class="about-page"
         style="width: fit-content">
      <div class="menu-item">
        <app-landing-intro></app-landing-intro>
      </div>
    </div>
    <div *ngIf="showAbout && !isDesktopUser" [@dropDownLandingButtons]>
      <div class="customButtons">
        <div class="menu-item"
             style="max-width: 230px;"
             (click)="navigate('portfolio')">
          <app-button-outline
            buttonText="View my projects"
            [isFilledButton]="false">
          </app-button-outline>
        </div>
        <div class="menu-item"
             (click)="navigate('about')">
          <app-button-outline
            buttonText="About"
            [isFilledButton]="true">
          </app-button-outline>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="isDesktopUser" class="makeScreenScrollable">-->
<div class="makeScreenScrollable">
  <!-- just to make scrolling effect possible -->
  --
</div>

<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<!--<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>-->
