<div class="wrapper">
  <!-- particles.js container -->
  <div id="particles-js"></div>

  <div class="wrapper-sub">
    <div class="name-on-top">
      <h1>Thomas Dirven</h1>
      <p>Full-stack Developer</p>
      <p>Student AI & Data Engineering</p>
    </div>

    <div *ngIf="showAbout" [@dropDownAbout]
         class="about-page"
         style="width: fit-content">
      <div class="menu-item">
        <app-about></app-about>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="mobileMode"-->
<!--     class="wrapper-mobile">-->
<!--  <div class="name-on-top">-->
<!--    <h1>Thomas Dirven</h1>-->
<!--    <p>Full-stack Developer</p>-->
<!--    <p>Student AI & Data Engineering</p>-->
<!--  </div>-->

<!--  <div *ngIf="showAbout" [@dropDownAbout]-->
<!--       class="about-page"-->
<!--       style="width: fit-content">-->
<!--    <div class="menu-item">-->
<!--      <app-about></app-about>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<!--<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>-->
