<!--<div class="topMarginDiv"></div>-->
<div class="container">
  <div class="education">
    <div class="title">EXPERIENCE</div>
    <div class="subtitle">FULL STACK DEVELOPER <br> VOLVO CARS GHENT</div>
    <div class="period">June 2021 - August 2021 (9 weeks)</div>
    <div class="info">Created a configurable visualization app for the production lines in the factory that will be used in all the Volvo Cars factories worldwide.</div>
    <div class="info">Nominated for the Volvo Cars Technology Awards.</div>
    <div class="info">Angular front-end with Java + Spring (Boot) back-end.</div>
  </div>
</div>
