<div class="wrapper">
<div style="height: 20vh"></div>

<div class="text">This whole site is a work in progress, come back later to see how it has changed! :)</div>

<div class="text">Watch my short (left) or longer (right) demo video of the visualization application I made during my 9 weeks full stack developer job at Volvo Cars Ghent.</div>

<div class="volvo-video-demo-container">
  <!-- Volvo - Ultra Short Demo -->
  <!-- https://youtu.be/CMZ9SvXd4AE -->

  <youtube-player
    videoId="CMZ9SvXd4AE"
    suggestedQuality="highres"
    [height]="200"
    [width]="300">
  </youtube-player>


  <!-- Volvo - Longer Demo -->
  <!-- https://youtu.be/CHJOCWmk_ow -->

  <youtube-player
    videoId="CHJOCWmk_ow"
    suggestedQuality="highres"
    [height]="200"
    [width]="300">
  </youtube-player>
</div>
</div>
