<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="#">Thomas Dirven</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks menu" *ngIf="isDropDownNavOpen || innerWidth > minInnerWidth" [@dropDownMenu]>
        <li *ngFor="let navigationLink of navigationLinks"
            (click)="toggleActiveClass()"
            class="menu-item">
          <a href="#">{{navigationLink}}</a>
        </li>
      </ul>
    </div>
    <span class="navTrigger"
          (click)="toggleActiveClass()">
        <i></i>
        <i></i>
        <i></i>
    </span>
  </div>
</nav>

<app-landing [showAbout]="showAbout"></app-landing>

<div *ngIf="isDesktopUser" class="makeScreenScrollable">
  <!-- just to make scrolling effect possible -->
  --
</div>

